@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100;1,800&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');



* {
    padding: 0%;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background: radial-gradient(ellipse at bottom, #2f89ff 25%, #000000 100%);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-color: dark;
}

/* Index */
body.home {
    display: grid;
    place-items: center;

}



h1.home {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20vh;
    letter-spacing: 1vw;
    color: white;
    background: url('https://i.pinimg.com/originals/30/09/e7/3009e722ec057ffab1e41d2f993385d1.png');
    background-size: auto 500%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
    user-select: none;
}

h1 .textH1 {
    font-size: 3vh;
    font-weight: bold;
    animation: lighting 5s reverse infinite;
    animation: both;

}


a.tienda {
    background-color: #00000036;
    padding: 3vh;
    text-decoration: none;
    border-bottom-right-radius: 10px;
    font-size: 3vh;
    font-variant-caps: petite-caps;
    color: white;
    transition-duration: 0.4s;
    user-select: none;
}

a:visited {
    color: black;
}

a{
    color: black;
}

a.tienda:hover {
    background-color: black;
    color: white;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

img {
    width: 100%;
}


.container {
    max-width: 1068px;
    margin: auto;
    width: 40%;

}

.containerShop {

    max-width: 1068px;
    margin-top: 20px;
    border-bottom: 10px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.containerShop::backdrop {
    filter: blur(2px, 2px, 2px);
}

section {
    position: sticky;
    align-self: center;
    margin: auto;
    padding: auto;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9999;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;

}

.menu {
    border: 1px solid black;
    padding: 2rem;
    margin: auto;
    font-weight: 800;
    font-variant-caps: petite-caps;
    text-decoration: none;
    border-bottom-right-radius: 10px;
    font-variant-caps: petite-caps;
    transition-duration: 0.4s;
    user-select: none;
}

.menu:hover {
    background-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}


#cart-icon {
    position: absolute;
    font-size: 1.8rem;
    margin-left: 8px;
    margin-top: 8px;

}

.cart-bg {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
    transition-duration: 0.4s;

}

.cart-bg:hover {
    background-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.section-title {
    font-variant-caps: all-petite-caps;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: -1;
    clip-path:
        polygon(0% 0%, 100%, 0, 100% calc(100% - 15px), 0%, 100%);
}


.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1;
    background-color: #0000003d;
}



.product-box {
    width: 225px;
    /* Card width. */
    height: 200px;
    /* Card height - Do not set a hight if you have a lot of content in the card. */
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    /* The outline works the same way as a border with added perks. */
    outline-offset: -8px;
    /* Negative offset to bring in the outline border. */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    /* Relative position because we are using position absolute on elements inside the card.
    This will make sure the said elements do not float outside of the card. Important for the zoom effect.*/
    overflow: hidden;
    /* Since we are scaling the image on hover, we have to hide the overflow. Important for the zoom effect.*/
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 200px;
    background-color: rgb(0, 0, 0);
}

.card-image {
    /* All the following styles are important for the zoom effect. */
    position: absolute;
    inset: 0;
    /* Fixes the starting points of the image to be on all 4 corners. */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Makes the image maintain its aspect ratio while filling the up entire card. */
    opacity: .8;
    /* Making the image slightly transparent so that it blends with the card background. */
    transition: transform .75s;
    /* Adds a transition over .75 seconds on the transform property (the scaling). */
}

.product-with-title:hover .card-image {
    transform: scale(1.15);
    /* When the card is hovered, the image inside of it is scaled up. Important for the zoom effect. */
}

.product-with-title:hover {
    background-color: #0000003e;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.product-title {
    font-size: 20px;
}

.card-info {
    width: 200px;
    color: white;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 5px;
    background-color: #00000036;
    margin-bottom: 20px;
}


.add-cart {
    position: relative;
    margin-top: 200px;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.4s;
}

.add-cart:hover {
    color: rgb(0, 255, 0);
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #ffffff;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -2px 0 4px rgb(0, 0, 0);
}

.cart h2 {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 1.5rem;
}

.price {
    text-decoration: underline;
    position: relative;
    font-size: 15px;
    text-align: left;
}


.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 10px;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display:grid;
    row-gap:0.5rem;
   }
    

#cotizacion {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: #00000036;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    user-select: none;
    color: rgb(187, 187, 187);
}

#cotizacion:hover {
    color: white;
}

#avatars {
    position: fixed;
    display: flex;
    padding-left: -2rem;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    user-select: none;
}

#avatars img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid rgb(255, 0, 0);
    margin: 0 0 0 -20px;
}

#avatars img:nth-child(1) {
    border: 2px solid rgb(0, 0, 0);
}

#avatars img:nth-child(2) {
    border: 2px solid rgb(0, 255, 0);
}

#avatars img:nth-child(3) {
    border: 2px solid rgb(255, 0, 0);
}

#avatars img:nth-child(4) {
    border: 2px solid rgb(255, 196, 0);
}

#avatars img:nth-child(5) {
    border: 2px solid rgb(89, 0, 255);
}

#avatars div img:nth-child(1) {
    border: 2px solid rgb(255, 0, 140);
    margin: 0;
}

#avatars div {
    color: white;
    font-size: 10px;
}








/* Animaciones */

@keyframes lighting {
    0% {
        font-size: 3.2vh;
    }

    50% {
        font-size: 3vh;
    }

    100% {
        font-size: 3.2vh;
    }

}

@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}

@keyframes bouncy {
    0% {
        top: 0em
    }

    40% {
        top: 0em
    }

    43% {
        top: -0.9em
    }

    46% {
        top: 0em
    }

    48% {
        top: -0.4em
    }

    50% {
        top: 0em
    }

    100% {
        top: 0em;
    }
}